.container-stats{ 
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;   
  padding-top: 16px;
  width: 100%;
}

.score {
  text-align: left;
  min-width: 120px;
}

.time { 
  text-align: center;
  min-width: 120px;
}

.settings { 
  text-align: right;
  justify-content: flex-end;
  min-width: 120px;
}

.container-game-board {  
  flex:1;
  display:flex; 
  justify-content: center;
  align-items: center;  
} 

.container-info{ 
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; 
  padding: 2vh 0;
  min-width: 75vw;
}