 
    .game { 
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      background-color: rgba(0, 0, 0, 0.5);
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
      max-width: 600px; 
      min-height: 500px;
      margin: 70px auto 0;
      padding: 0 25px 0 25px;
      border-radius: 5px;
      background-clip: padding-box;
    }
    .stats-container{
      flex:1; 
      display:flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between; 
      min-width: 75vw;
    }
    .game-board-container{
      flex:5; 
      display:flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      min-width: 75vw;
    }
    .info-container{
      flex:1; 
      display:flex;
      flex-direction: row;
      align-items: center;
      justify-content: center; 
      min-width: 75vw;
    }