/* MATERIAL BUTTON STYLES */

.material-button-field { 
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;  
}

.material-button-field.large { 
  width: 100%;
}
 
.material-button {
  flex:1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center; 
  min-width: 96px;
  border-radius: 30px; 
  padding: 12px 24px;
  color: #fefefe; 
  cursor: pointer;  
  background-color: rgba(26, 187, 156, 0.85);
  user-select: none; 
}
 
.material-button.disabled { 
  color: #fefefe;
  background-color: #747474;
}

.material-button:hover {
  color: #fefefe;
}

.material-button:visited {
  color: #fefefe;
}

.material-button:active {
  color: #fefefe;
  background-color: rgba(44, 226, 190, 0.85);
  opacity: 0.95;
}

.button-text {   
  font-size: 24px;
  text-decoration: none;
  padding-bottom: 2px
}