/* MATERIAL BUTTON STYLES */

.button-field { 
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;  
}

.button-field.large { 
  width: 100%;
}
 
.button {
  flex:1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  min-height: 6vh; 
  border-radius: 30px; 
  padding-left: 16px;
  padding-right: 16px;
  color: #fefefe; 
  cursor: pointer;  
  background: linear-gradient(to bottom right, rgba(26, 187, 156, 0.85), rgba(26, 187, 156, 0.55));
  user-select: none; 
}
 
.button.disabled { 
  color: #fefefe;
  background-color: rgba(44, 226, 190, 1);
}

.button:hover {
  color: #fefefe;
}

.button:visited {
  color: #fefefe;
}

.button:active {
  color: #fefefe;
  background-color: rgba(44, 226, 190, 0.85);
}

.button-text {   
  font-size: 24px;
  text-decoration: none;
}