

.login-field-container {
  position: relative;
  margin-bottom: 45px;
} 

.login-field {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 300px;
    border: none;
    background: rgba(0, 0, 0, 0);
    border-bottom: 1px solid #757575;    color: grey;
  }
  
.login-field:focus {
outline: none;
}
  
  .login-field-label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }
  
  .login-field:focus~.login-field-label, .login-field:valid~.login-field-label {
    top: -20px;
    font-size: 14px;
    color: rgba(26, 187, 156, 0.85);
  }
  
  .login-field:focus~.bar:before, .login-field:focus~.bar:after {
    width: 50%;
  }
  
  .bar {
    position: relative;
    display: block;
    width: 300px;
  }
  
  .bar:before, .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: rgba(26, 187, 156, 0.85);
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }
  
  .bar:before {
    left: 50%;
  }
  
  .bar:after {
    right: 50%;
  }
  
  .highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
  }
  
  .login-field:focus~.highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
  }
  
  @-webkit-keyframes inputHighlighter {
    from {
      background: rgba(26, 187, 156, 0.85);
    }
    to {
      width: 0;
      background: transparent;
    }
  }
  
  @-moz-keyframes inputHighlighter {
    from {
      background: rgba(26, 187, 156, 0.85);
    }
    to {
      width: 0;
      background: transparent;
    }
  }
  
  @keyframes inputHighlighter {
    from {
      background: rgba(26, 187, 156, 0.85);
    }
    to {
      width: 0;
      background: transparent;
    }
  }
  